<a href="https://colab.research.google.com/github/ethanmjansen/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS10_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

Replicate the Lesson Code

In [0]:
##### Begin Working Here #####
import pandas as pd

In [97]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-10-29 21:10:26--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [        <=>         ]  21.62M  1.83MB/s    in 12s

2019-10-29 21:10:38 (1.80 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22667400]

In [98]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [100]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')

df.drop(['url','member_id','desc','id'], axis=1, inplace=True)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      20000        20000  ...                    NaN             NaN
1      25000        25000  ...                    NaN             NaN
2      26500        26500  ...                    NaN             NaN
3      10400        10400  ...                    NaN             NaN
4      35000        35000  ...                    NaN             NaN

[5 rows x 140 columns]

In [101]:
df.tail()

        loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
128407      23000        23000  ...                    NaN             NaN
128408      10000        10000  ...                    NaN             NaN
128409       5000         5000  ...                    NaN             NaN
128410      10000        10000  ...                    NaN             NaN
128411      10000        10000  ...                    NaN             NaN

[5 rows x 140 columns]

Convert the term column from string to integer.

In [102]:
df['term']

0          36 months
1          60 months
2          60 months
3          36 months
4          60 months
             ...
128407     36 months
128408     36 months
128409     36 months
128410     36 months
128411     36 months
Name: term, Length: 128412, dtype: object

In [103]:
df['term'].iloc[0]

' 36 months'

In [0]:
term = ' 36 months'

In [105]:
term.strip().strip(' months')

'36'

In [0]:
def term_to_int(term_string):
  return int(term_string.strip().strip(' months'))

In [107]:
term_to_int(term)

36

In [108]:
df['term'].apply(term_to_int)

0         36
1         60
2         60
3         36
4         60
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [109]:
df['term'] = df['term'].apply(term_to_int)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0      20000        20000  ...                    NaN              NaN
1      25000        25000  ...                    NaN              NaN
2      26500        26500  ...                    NaN              NaN
3      10400        10400  ...                    NaN              NaN
4      35000        35000  ...                    NaN              NaN

[5 rows x 140 columns]

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
df['loan_status_is_great'] = df['loan_status'].str.contains('Current' and 'Fully Paid')

In [141]:
df['loan_status_is_great']

0         False
1          True
2         False
3         False
4          True
          ...
128407    False
128408    False
128409    False
128410    False
128411    False
Name: loan_status_is_great, Length: 128412, dtype: bool

In [143]:
def loan_status_to_int(loan_status_is_great_string):
  return int(loan_status_is_great_string)
df['loan_status_is_great'].apply(loan_status_to_int)

0         0
1         1
2         0
3         0
4         1
         ..
128407    0
128408    0
128409    0
128410    0
128411    0
Name: loan_status_is_great, Length: 128412, dtype: int64

Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

In [0]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [124]:
df['last_pymnt_d_month']

0          9.0
1          4.0
2          9.0
3          9.0
4          4.0
          ...
128407    12.0
128408     9.0
128409     9.0
128410     9.0
128411     9.0
Name: last_pymnt_d_month, Length: 128412, dtype: float64

In [123]:
df['last_pymnt_d_year']

0         2019.0
1         2019.0
2         2019.0
3         2019.0
4         2019.0
           ...
128407    2018.0
128408    2019.0
128409    2019.0
128410    2019.0
128411    2019.0
Name: last_pymnt_d_year, Length: 128412, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01